@import "tailwindcss";

@theme {
  --color-caracoli: #abb263;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", system-ui, -apple-system, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", system-ui, -apple-system, sans-serif;
  font-weight: 700;
}

h1 {
  font-weight: 400;
}